.blockquote{
    font-size:1rem;
}
[class~=row]{
    margin-bottom:2rem;
}
[class~=resp-sharing-button__link]:hover{
    color:white;
}
[class~=resp-sharing-button__link],.resp-sharing-button__icon{
    display:inline-block;
}
[class~=resp-sharing-button--twitter]:hover{
    background-color:#2795e9;
}
[class~=resp-sharing-button--pinterest]:hover{
    background-color:#8c0615;
}
[class~=resp-sharing-button--facebook]:hover{
    background-color:#2d4373;
}
[class~=resp-sharing-button__link]{
    text-decoration:none;
}
[class~=resp-sharing-button__link]{
    color:#fff;
}
[class~=resp-sharing-button__link]{
    margin-left:.5em;
}
[class~=resp-sharing-button__link]{
    margin-bottom:.5em;
}
[class~=resp-sharing-button__link]{
    margin-right:.5em;
}
[class~=resp-sharing-button--tumblr]:hover{
    background-color:#222d3c;
}
[class~=resp-sharing-button--reddit]:hover{
    background-color:#3a80c1;
}
[class~=resp-sharing-button__link]{
    margin-top:.5em;
}
[class~=resp-sharing-button]{
    border-radius:5px;
}
[class~=resp-sharing-button]{
    transition:25ms ease-out;
}
.resp-sharing-button--google:hover{
    background-color:#c23321;
}
[class~=resp-sharing-button]{
    padding-left:.75em;
}
.resp-sharing-button--linkedin:hover{
    background-color:#046293;
}
[class~=resp-sharing-button]{
    padding-bottom:.5em;
}
h3[class~=card-title]{
    padding-top:2rem;
}
[class~=resp-sharing-button--email]:hover{
    background-color:#5e5e5e;
}
[class~=resp-sharing-button]{
    padding-right:.75em;
}
[class~=resp-sharing-button--xing]:hover{
    background-color:#114c4c;
}
[class~=resp-sharing-button__icon] svg{
    width:1em;
}
#miner-settings-form .form-group{
    margin-top:.5rem;
}
[class~=resp-sharing-button--whatsapp]:hover{
    background-color:#1da851;
}
[class~=resp-sharing-button]{
    padding-top:.5em;
}
[class~=resp-sharing-button]{
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}
.resp-sharing-button--hackernews:focus,[class~=resp-sharing-button--hackernews]:hover{
    background-color:#fb6200;
}
[class~=resp-sharing-button__icon] svg{
    height:1em;
}
[class~=resp-sharing-button__icon]{
    stroke:#fff;
}
[class~=resp-sharing-button__icon]{
    fill:none;
}
[class~=resp-sharing-button__icon--solidcircle],[class~=resp-sharing-button__icon--solid]{
    fill:#fff;
}
[class~=resp-sharing-button--vk]:hover{
    background-color:#43648c;
}
[class~=resp-sharing-button__icon--solidcircle],[class~=resp-sharing-button__icon--solid]{
    stroke:none;
}
[class~=resp-sharing-button--facebook]:active,.resp-sharing-button--facebook:hover{
    background-color:#2d4373;
}
[class~=resp-sharing-button--twitter]{
    background-color:#55acee;
}
[class~=resp-sharing-button--pinterest]{
    background-color:#bd081c;
}
[class~=resp-sharing-button--facebook]{
    background-color:#3b5998;
}
.resp-sharing-button--facebook:hover,[class~=resp-sharing-button--facebook]:active{
    border-left-color:#2d4373;
}
#miner-settings-form .form-group{
    margin-bottom:.5rem;
}
.resp-sharing-button--facebook:hover,[class~=resp-sharing-button--facebook]:active{
    border-bottom-color:#2d4373;
}
[class~=resp-sharing-button--tumblr]{
    background-color:#35465c;
}
.resp-sharing-button--reddit{
    background-color:#5f99cf;
}
[class~=resp-sharing-button--facebook]:active,.resp-sharing-button--facebook:hover{
    border-right-color:#2d4373;
}
.resp-sharing-button--facebook:hover,[class~=resp-sharing-button--facebook]:active{
    border-top-color:#2d4373;
}
[class~=resp-sharing-button--google]{
    background-color:#dd4b39;
}
body{
    padding-top:5rem;
}
[class~=resp-sharing-button--linkedin]{
    background-color:#0077b5;
}
#miner-settings-form [class~=form-control]{
    padding-left:.8rem;
}
[class~=resp-sharing-button--email]{
    background-color:#777;
}
#miner-disabled-alert,#form-saved-alert{
    display:none;
}
[class~=resp-sharing-button--xing]{
    background-color:#1a7576;
}
[class~=resp-sharing-button--whatsapp]{
    background-color:#25d366;
}
.resp-sharing-button--twitter:active,[class~=resp-sharing-button--twitter]:hover{
    background-color:#2795e9;
}
[class~=resp-sharing-button--twitter]:hover,.resp-sharing-button--twitter:active{
    border-left-color:#2795e9;
}
[class~=resp-sharing-button--hackernews]{
    background-color:#f60;
}
[class~=resp-sharing-button--vk]{
    background-color:#507299;
}
[class~=resp-sharing-button__icon] svg{
    margin-right:.4em;
}
.resp-sharing-button--twitter:active,[class~=resp-sharing-button--twitter]:hover{
    border-bottom-color:#2795e9;
}
[class~=resp-sharing-button--facebook]{
    background-color:#3b5998;
}
[class~=resp-sharing-button--facebook]{
    border-left-color:#3b5998;
}
[class~=resp-sharing-button--twitter]:hover,.resp-sharing-button--twitter:active{
    border-right-color:#2795e9;
}
[class~=resp-sharing-button--twitter]:hover,.resp-sharing-button--twitter:active{
    border-top-color:#2795e9;
}
body{
    padding-bottom:5rem;
}
#miner-settings-form [class~=form-control]{
    padding-bottom:.8rem;
}
#miner-settings-form [class~=form-control]{
    padding-right:.8rem;
}
[class~=resp-sharing-button__icon] svg{
    vertical-align:top;
}
[class~=resp-sharing-button--small] svg{
    margin-left:0;
}
[class~=resp-sharing-button--google]:hover,[class~=resp-sharing-button--google]:active{
    background-color:#c23321;
}
[class~=resp-sharing-button--google]:active,[class~=resp-sharing-button--google]:hover{
    border-left-color:#c23321;
}
[class~=resp-sharing-button--google]:active,[class~=resp-sharing-button--google]:hover{
    border-bottom-color:#c23321;
}
[class~=resp-sharing-button--google]:hover,[class~=resp-sharing-button--google]:active{
    border-right-color:#c23321;
}
[class~=resp-sharing-button--small] svg{
    margin-bottom:0;
}
[class~=resp-sharing-button--google]:hover,[class~=resp-sharing-button--google]:active{
    border-top-color:#c23321;
}
[class~=resp-sharing-button--facebook]{
    border-bottom-color:#3b5998;
}
#miner-settings-form [class~=form-control]{
    padding-top:.8rem;
}
[class~=resp-sharing-button--facebook]{
    border-right-color:#3b5998;
}
[class~=resp-sharing-button--facebook]{
    border-top-color:#3b5998;
}
[class~=resp-sharing-button--twitter]{
    background-color:#55acee;
}
[class~=resp-sharing-button--twitter]{
    border-left-color:#55acee;
}
[class~=resp-sharing-button--small] svg{
    margin-right:0;
}
[class~=resp-sharing-button--email]:active,[class~=resp-sharing-button--email]:hover{
    background-color:#5e5e5e;
}
[class~=resp-sharing-button--hackernews]:hover [class~=resp-sharing-button--hackernews]:active{
    background-color:#fb6200;
}
[class~=resp-sharing-button--email]:active,[class~=resp-sharing-button--email]:hover{
    border-left-color:#5e5e5e;
}
[class~=resp-sharing-button--twitter]{
    border-bottom-color:#55acee;
}
[class~=resp-sharing-button--small] svg{
    margin-top:0;
}
[class~=resp-sharing-button--small] svg{
    vertical-align:middle;
}
[class~=resp-sharing-button--email]:active,[class~=resp-sharing-button--email]:hover{
    border-bottom-color:#5e5e5e;
}
[class~=resp-sharing-button--email]:active,[class~=resp-sharing-button--email]:hover{
    border-right-color:#5e5e5e;
}
[class~=resp-sharing-button--email]:hover,[class~=resp-sharing-button--email]:active{
    border-top-color:#5e5e5e;
}
[class~=resp-sharing-button--twitter]{
    border-right-color:#55acee;
}
[class~=resp-sharing-button--twitter]{
    border-top-color:#55acee;
}
[class~=resp-sharing-button--hackernews]:hover [class~=resp-sharing-button--hackernews]:active{
    border-left-color:#fb6200;
}
[class~=resp-sharing-button--google]{
    background-color:#dd4b39;
}
[class~=resp-sharing-button--google]{
    border-left-color:#dd4b39;
}
[class~=resp-sharing-button--google]{
    border-bottom-color:#dd4b39;
}
#miner-settings-form [class~=form-control]{
    font-size:16px;
}
[class~=resp-sharing-button--google]{
    border-right-color:#dd4b39;
}
[class~=resp-sharing-button--google]{
    border-top-color:#dd4b39;
}
#miner-settings-form [class~=custom-select]{
    display:block;
}
[class~=resp-sharing-button--email]{
    background-color:#777;
}
#add-miner-button{
    margin-bottom:1rem;
}
[class~=resp-sharing-button--email]{
    border-left-color:#777;
}
[class~=resp-sharing-button--email]{
    border-bottom-color:#777;
}
[class~=resp-sharing-button--email]{
    border-right-color:#777;
}
[class~=resp-sharing-button--linkedin]:hover,[class~=resp-sharing-button--linkedin]:active{
    background-color:#046293;
}
[class~=resp-sharing-button--email]{
    border-top-color:#777;
}
[class~=resp-sharing-button--linkedin]:hover,[class~=resp-sharing-button--linkedin]:active{
    border-left-color:#046293;
}
[class~=resp-sharing-button--linkedin]{
    background-color:#0077b5;
}
[class~=resp-sharing-button--linkedin]:active,[class~=resp-sharing-button--linkedin]:hover{
    border-bottom-color:#046293;
}
[class~=resp-sharing-button--linkedin]{
    border-left-color:#0077b5;
}
[class~=resp-sharing-button--linkedin]{
    border-bottom-color:#0077b5;
}
[class~=resp-sharing-button--linkedin]:active,[class~=resp-sharing-button--linkedin]:hover{
    border-right-color:#046293;
}
[class~=resp-sharing-button--linkedin]:hover,[class~=resp-sharing-button--linkedin]:active{
    border-top-color:#046293;
}
[class~=resp-sharing-button--linkedin]{
    border-right-color:#0077b5;
}
[class~=resp-sharing-button--linkedin]{
    border-top-color:#0077b5;
}
[class~=resp-sharing-button--reddit]{
    background-color:#5f99cf;
}
[class~=resp-sharing-button--reddit]{
    border-left-color:#5f99cf;
}
[class~=resp-sharing-button--reddit]{
    border-bottom-color:#5f99cf;
}
[class~=resp-sharing-button--reddit]{
    border-right-color:#5f99cf;
}
[class~=resp-sharing-button--reddit]{
    border-top-color:#5f99cf;
}
.resp-sharing-button--hackernews{
    background-color:#f60;
}
h3.card-title.p-t-initial{
    padding-top:initial;
}
.resp-sharing-button--hackernews{
    border-left-color:#f60;
}
.resp-sharing-button--reddit:hover,.resp-sharing-button--reddit:active{
    background-color:#3a80c1;
}
.resp-sharing-button--reddit:hover,.resp-sharing-button--reddit:active{
    border-left-color:#3a80c1;
}
[class~=resp-sharing-button--hackernews]:hover [class~=resp-sharing-button--hackernews]:active{
    border-bottom-color:#fb6200;
}
.resp-sharing-button--hackernews{
    border-bottom-color:#f60;
}
#miner-settings-form [class~=custom-select]{
    height:auto;
}
.resp-sharing-button--hackernews{
    border-right-color:#f60;
}
.resp-sharing-button--reddit:hover,.resp-sharing-button--reddit:active{
    border-bottom-color:#3a80c1;
}
.resp-sharing-button--hackernews{
    border-top-color:#f60;
}
.resp-sharing-button--reddit:hover,.resp-sharing-button--reddit:active{
    border-right-color:#3a80c1;
}
.resp-sharing-button--reddit:active,.resp-sharing-button--reddit:hover{
    border-top-color:#3a80c1;
}
[class~=resp-sharing-button--hackernews]:hover [class~=resp-sharing-button--hackernews]:active{
    border-right-color:#fb6200;
}
[class~=resp-sharing-button--hackernews]:hover [class~=resp-sharing-button--hackernews]:active{
    border-top-color:#fb6200;
}
body{
    background-color:#eee;
}
